main {
    display: flex;
}

aside{ 
    width: 30%;
    background: blue;
}

button {
    display: block;
    width: 30%;
    background: none;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    background: white;
    color: blue;
    font-size: 15px;
    font-weight: bold;
}

select,option,input {
    display: block;
    width: 30%;
    background: none;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    background: white;
    color: blue;
    font-size: 15px;
    font-weight: bold;
}